{% extends "core/form_base.html" %}

{% load i18n static %}
{% load static %}

{% block form %}

{% if validlink %}

<div class="p-5">
    <h3>Ingresar nueva contraseña</h3>
</div>

<p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<div class="p-3">
    <form method="post">
        {% csrf_token %}
        
        <p class="fw-bold">{{ form.user.get_username }}</p>

        {% if form.new_password1.errors %}
            <div class="alert alert-danger" role="alert">{{ form.new_password1.errors }}</div>
        {% endif %}
        <p>{{ form.new_password1 }} </p>

        {% if form.new_password2.errors %}
            <div class="alert alert-danger" role="alert">{{ form.new_password2.errors }}</div>
        {% endif %}
        <p>{{ form.new_password2 }} </p>

        <button class="btn btn-outline-dark btn-sm" type="submit">{% translate 'Change my password' %}</button>
    </form>
</div>

{% else %}

<div class="alert alert-warning" role="alert">
    <p>
        {% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
    </p>
</div>

{% endif %}

{% endblock form %}
