<footer class="footer mt-auto py-3">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="single-box">
                    <div class="socials">
                            <a href="/"><i class="bi bi-telegram fs-3 text-dark"></i></a>
                            <a href="/"><i class="bi bi-github fs-3 text-dark"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!---<div class="row">
            <div class="col">
                <div class="single-box">
                    <span class="text-body-secondary">&copy; 2024 Price Tracker</span>
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col">
                <div class="single-box">
                    <small class="me-3">
                        <a href="{% url 'core:terms' %}" class="link-underline-light link-opacity-50-hover">Terminos y condiciones</a>
                    </small>
                    <small class="single-box">
                        <a href="{% url 'core:about' %}" class="link-underline-light link-opacity-50-hover">Acerca</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</footer>